.parallax-video {
  height: 100vh;
  max-width: auto;
  position: relative;
  overflow: hidden;
}

.parallax-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translateX(-50%) translateY(-50%);
}


/* Add some style to the banner */
.banner {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/brutalism.jpg');  background-size: cover;
  background-position: center;
  height: 1800px;
  position: absolute;
  display: flex;
  */
  height: 800px; /* Set the height of the banner */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/brutalism.jpg'); /* Add a gradient and a background image to the banner */
  background-size: cover; /* Cover the entire banner with the background image */
  background-position: center; /* Center the background image */
}

/* Add some parallax effect to the banner */
.banner {
  background-attachment: fixed; /* Fix the background image to the viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: cover; /* Cover the entire banner with the background image */
}
/* Add some style to the banner */
.banner-barszcz {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/brutalism.jpg');  background-size: cover;
  background-position: center;
  height: 1800px;
  position: absolute;
  display: flex;
  */
  height: 800px; /* Set the height of the banner */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/barszcz1.png'); /* Add a gradient and a background image to the banner */
  background-size: cover; /* Cover the entire banner with the background image */
  background-position: center; /* Center the background image */
}
/* Add some style to the banner */
.banner-bigos {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/brutalism.jpg');  background-size: cover;
  background-position: center;
  height: 1800px;
  position: absolute;
  display: flex;
  */
  height: 800px; /* Set the height of the banner */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/bigos1.png'); /* Add a gradient and a background image to the banner */
  background-size: cover; /* Cover the entire banner with the background image */
  background-position: center; /* Center the background image */
}

/* Add some parallax effect to the banner */
.banner-barszcz {
  background-attachment: fixed; /* Fix the background image to the viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: cover; /* Cover the entire banner with the background image */
}
/* Add some parallax effect to the banner */
.banner-bigos {
  background-attachment: fixed; /* Fix the background image to the viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: cover; /* Cover the entire banner with the background image */
}
/* Add some style to the banner */
.banner-faworki {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/brutalism.jpg');  background-size: cover;
  background-position: center;
  height: 1800px;
  position: absolute;
  display: flex;
  */
  height: 800px; /* Set the height of the banner */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/faworki1.png'); /* Add a gradient and a background image to the banner */
  background-size: cover; /* Cover the entire banner with the background image */
  background-position: center; /* Center the background image */
}

/* Add some parallax effect to the banner */
.banner-faworki {
  background-attachment: fixed; /* Fix the background image to the viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: cover; /* Cover the entire banner with the background image */
}
/* Add some style to the banner */
.banner-kabanosy {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/brutalism.jpg');  background-size: cover;
  background-position: center;
  height: 1800px;
  position: absolute;
  display: flex;
  */
  height: 800px; /* Set the height of the banner */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/kabanosy1.png'); /* Add a gradient and a background image to the banner */
  background-size: cover; /* Cover the entire banner with the background image */
  background-position: center; /* Center the background image */
}

/* Add some parallax effect to the banner */
.banner-kabanosy {
  background-attachment: fixed; /* Fix the background image to the viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: cover; /* Cover the entire banner with the background image */
}
/* Add some style to the banner */
.banner-karpatka {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/brutalism.jpg');  background-size: cover;
  background-position: center;
  height: 1800px;
  position: absolute;
  display: flex;
  */
  height: 800px; /* Set the height of the banner */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/karpatka1.png'); /* Add a gradient and a background image to the banner */
  background-size: cover; /* Cover the entire banner with the background image */
  background-position: center; /* Center the background image */
}

/* Add some parallax effect to the banner */
.banner-karpatka {
  background-attachment: fixed; /* Fix the background image to the viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: cover; /* Cover the entire banner with the background image */
}
/* Add some style to the banner */
.banner-kaszanka {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/brutalism.jpg');  background-size: cover;
  background-position: center;
  height: 1800px;
  position: absolute;
  display: flex;
  */
  height: 800px; /* Set the height of the banner */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/kaszanka1.png'); /* Add a gradient and a background image to the banner */
  background-size: cover; /* Cover the entire banner with the background image */
  background-position: center; /* Center the background image */
}

/* Add some parallax effect to the banner */
.banner-kaszanka {
  background-attachment: fixed; /* Fix the background image to the viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: cover; /* Cover the entire banner with the background image */
}
/* Add some style to the banner */
.banner-kielbasamysliwska {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/brutalism.jpg');  background-size: cover;
  background-position: center;
  height: 1800px;
  position: absolute;
  display: flex;
  */
  height: 800px; /* Set the height of the banner */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/kielbasamysliwska1.png'); /* Add a gradient and a background image to the banner */
  background-size: cover; /* Cover the entire banner with the background image */
  background-position: center; /* Center the background image */
}

/* Add some parallax effect to the banner */
.banner-kielbasamysliwska {
  background-attachment: fixed; /* Fix the background image to the viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: cover; /* Cover the entire banner with the background image */
}
/* Add some style to the banner */
.banner-kielbasapolska {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/brutalism.jpg');  background-size: cover;
  background-position: center;
  height: 1800px;
  position: absolute;
  display: flex;
  */
  height: 800px; /* Set the height of the banner */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/kielbasapolska1.png'); /* Add a gradient and a background image to the banner */
  background-size: cover; /* Cover the entire banner with the background image */
  background-position: center; /* Center the background image */
}

/* Add some parallax effect to the banner */
.banner-kielbasapolska {
  background-attachment: fixed; /* Fix the background image to the viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: cover; /* Cover the entire banner with the background image */
}
/* Add some style to the banner */
.banner-kielbasawedzona {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/brutalism.jpg');  background-size: cover;
  background-position: center;
  height: 1800px;
  position: absolute;
  display: flex;
  */
  height: 800px; /* Set the height of the banner */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/kielbasawedzona1.png'); /* Add a gradient and a background image to the banner */
  background-size: cover; /* Cover the entire banner with the background image */
  background-position: center; /* Center the background image */
}

/* Add some parallax effect to the banner */
.banner-kielbasawedzona {
  background-attachment: fixed; /* Fix the background image to the viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: cover; /* Cover the entire banner with the background image */
}
/* Add some style to the banner */
.banner-kluskislaskie {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/brutalism.jpg');  background-size: cover;
  background-position: center;
  height: 1800px;
  position: absolute;
  display: flex;
  */
  height: 800px; /* Set the height of the banner */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/kluskislaskie1.png'); /* Add a gradient and a background image to the banner */
  background-size: cover; /* Cover the entire banner with the background image */
  background-position: center; /* Center the background image */
}

/* Add some parallax effect to the banner */
.banner-kluskislaskie {
  background-attachment: fixed; /* Fix the background image to the viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: cover; /* Cover the entire banner with the background image */
}
/* Add some style to the banner */
.banner-kopytka {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/brutalism.jpg');  background-size: cover;
  background-position: center;
  height: 1800px;
  position: absolute;
  display: flex;
  */
  height: 800px; /* Set the height of the banner */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/kopytka1.png'); /* Add a gradient and a background image to the banner */
  background-size: cover; /* Cover the entire banner with the background image */
  background-position: center; /* Center the background image */
}

/* Add some parallax effect to the banner */
.banner-kopytka {
  background-attachment: fixed; /* Fix the background image to the viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: cover; /* Cover the entire banner with the background image */
}
/* Add some style to the banner */
.banner-kremowka {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/brutalism.jpg');  background-size: cover;
  background-position: center;
  height: 1800px;
  position: absolute;
  display: flex;
  */
  height: 800px; /* Set the height of the banner */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/kremowka1.png'); /* Add a gradient and a background image to the banner */
  background-size: cover; /* Cover the entire banner with the background image */
  background-position: center; /* Center the background image */
}

/* Add some parallax effect to the banner */
.banner-kremowka {
  background-attachment: fixed; /* Fix the background image to the viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: cover; /* Cover the entire banner with the background image */
}
/* Add some style to the banner */
.banner-makowiec {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/brutalism.jpg');  background-size: cover;
  background-position: center;
  height: 1800px;
  position: absolute;
  display: flex;
  */
  height: 800px; /* Set the height of the banner */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/makowiec1.png'); /* Add a gradient and a background image to the banner */
  background-size: cover; /* Cover the entire banner with the background image */
  background-position: center; /* Center the background image */
}

/* Add some parallax effect to the banner */
.banner-makowiec {
  background-attachment: fixed; /* Fix the background image to the viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: cover; /* Cover the entire banner with the background image */
}
/* Add some style to the banner */
.banner-marcinek {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/brutalism.jpg');  background-size: cover;
  background-position: center;
  height: 1800px;
  position: absolute;
  display: flex;
  */
  height: 800px; /* Set the height of the banner */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/marcinek1.png'); /* Add a gradient and a background image to the banner */
  background-size: cover; /* Cover the entire banner with the background image */
  background-position: center; /* Center the background image */
}

/* Add some parallax effect to the banner */
.banner-marcinek {
  background-attachment: fixed; /* Fix the background image to the viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: cover; /* Cover the entire banner with the background image */
}
/* Add some style to the banner */
.banner-mizeria {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/brutalism.jpg');  background-size: cover;
  background-position: center;
  height: 1800px;
  position: absolute;
  display: flex;
  */
  height: 800px; /* Set the height of the banner */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/mizeria1.png'); /* Add a gradient and a background image to the banner */
  background-size: cover; /* Cover the entire banner with the background image */
  background-position: center; /* Center the background image */
}

/* Add some parallax effect to the banner */
.banner-mizeria {
  background-attachment: fixed; /* Fix the background image to the viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: cover; /* Cover the entire banner with the background image */
}
/* Add some style to the banner */
.banner-pierogi {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/brutalism.jpg');  background-size: cover;
  background-position: center;
  height: 1800px;
  position: absolute;
  display: flex;
  */
  height: 800px; /* Set the height of the banner */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/pierogi1.png'); /* Add a gradient and a background image to the banner */
  background-size: cover; /* Cover the entire banner with the background image */
  background-position: center; /* Center the background image */
}

/* Add some parallax effect to the banner */
.banner-pierogi {
  background-attachment: fixed; /* Fix the background image to the viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: cover; /* Cover the entire banner with the background image */
}
/* Add some style to the banner */
.banner-poledwica {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/brutalism.jpg');  background-size: cover;
  background-position: center;
  height: 1800px;
  position: absolute;
  display: flex;
  */
  height: 800px; /* Set the height of the banner */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/poledwica1.png'); /* Add a gradient and a background image to the banner */
  background-size: cover; /* Cover the entire banner with the background image */
  background-position: center; /* Center the background image */
}

/* Add some parallax effect to the banner */
.banner-poledwica {
  background-attachment: fixed; /* Fix the background image to the viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: cover; /* Cover the entire banner with the background image */
}
/* Add some style to the banner */
.banner-rosol {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/brutalism.jpg');  background-size: cover;
  background-position: center;
  height: 1800px;
  position: absolute;
  display: flex;
  */
  height: 800px; /* Set the height of the banner */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/rosol1.png'); /* Add a gradient and a background image to the banner */
  background-size: cover; /* Cover the entire banner with the background image */
  background-position: center; /* Center the background image */
}

/* Add some parallax effect to the banner */
.banner-rosol {
  background-attachment: fixed; /* Fix the background image to the viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: cover; /* Cover the entire banner with the background image */
}
/* Add some style to the banner */
.banner-salatkazkrewetek {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/brutalism.jpg');  background-size: cover;
  background-position: center;
  height: 1800px;
  position: absolute;
  display: flex;
  */
  height: 800px; /* Set the height of the banner */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/salatkazkrewetek1.png'); /* Add a gradient and a background image to the banner */
  background-size: cover; /* Cover the entire banner with the background image */
  background-position: center; /* Center the background image */
}

/* Add some parallax effect to the banner */
.banner-salatkazkrewetek {
  background-attachment: fixed; /* Fix the background image to the viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: cover; /* Cover the entire banner with the background image */
}
/* Add some style to the banner */
.banner-salatkaziemniaczana {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/brutalism.jpg');  background-size: cover;
  background-position: center;
  height: 1800px;
  position: absolute;
  display: flex;
  */
  height: 800px; /* Set the height of the banner */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/salatkaziemniaczana1.png'); /* Add a gradient and a background image to the banner */
  background-size: cover; /* Cover the entire banner with the background image */
  background-position: center; /* Center the background image */
}

/* Add some parallax effect to the banner */
.banner-salatkaziemniaczana {
  background-attachment: fixed; /* Fix the background image to the viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: cover; /* Cover the entire banner with the background image */
}
/* Add some style to the banner */
.banner-schabowy {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/brutalism.jpg');  background-size: cover;
  background-position: center;
  height: 1800px;
  position: absolute;
  display: flex;
  */
  height: 800px; /* Set the height of the banner */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/schabowy1.png'); /* Add a gradient and a background image to the banner */
  background-size: cover; /* Cover the entire banner with the background image */
  background-position: center; /* Center the background image */
}

/* Add some parallax effect to the banner */
.banner-schabowy {
  background-attachment: fixed; /* Fix the background image to the viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: cover; /* Cover the entire banner with the background image */
}
/* Add some style to the banner */
.banner-sekacz {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/brutalism.jpg');  background-size: cover;
  background-position: center;
  height: 1800px;
  position: absolute;
  display: flex;
  */
  height: 800px; /* Set the height of the banner */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/sekacz1.png'); /* Add a gradient and a background image to the banner */
  background-size: cover; /* Cover the entire banner with the background image */
  background-position: center; /* Center the background image */
}

/* Add some parallax effect to the banner */
.banner-sekacz {
  background-attachment: fixed; /* Fix the background image to the viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: cover; /* Cover the entire banner with the background image */
}
/* Add some style to the banner */
.banner-sernik {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/brutalism.jpg');  background-size: cover;
  background-position: center;
  height: 1800px;
  position: absolute;
  display: flex;
  */
  height: 800px; /* Set the height of the banner */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/sernik1.png'); /* Add a gradient and a background image to the banner */
  background-size: cover; /* Cover the entire banner with the background image */
  background-position: center; /* Center the background image */
}

/* Add some parallax effect to the banner */
.banner-sernik {
  background-attachment: fixed; /* Fix the background image to the viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: cover; /* Cover the entire banner with the background image */
}
/* Add some style to the banner */
.banner-sorowka {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/brutalism.jpg');  background-size: cover;
  background-position: center;
  height: 1800px;
  position: absolute;
  display: flex;
  */
  height: 800px; /* Set the height of the banner */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/sorowka1.png'); /* Add a gradient and a background image to the banner */
  background-size: cover; /* Cover the entire banner with the background image */
  background-position: center; /* Center the background image */
}

/* Add some parallax effect to the banner */
.banner-sorowka {
  background-attachment: fixed; /* Fix the background image to the viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: cover; /* Cover the entire banner with the background image */
}
/* Add some style to the banner */
.banner-torunskiepierniki {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/brutalism.jpg');  background-size: cover;
  background-position: center;
  height: 1800px;
  position: absolute;
  display: flex;
  */
  height: 800px; /* Set the height of the banner */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/torunskiepierniki1.png'); /* Add a gradient and a background image to the banner */
  background-size: cover; /* Cover the entire banner with the background image */
  background-position: center; /* Center the background image */
}

/* Add some parallax effect to the banner */
.banner-torunskiepierniki {
  background-attachment: fixed; /* Fix the background image to the viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: cover; /* Cover the entire banner with the background image */
}
/* Add some style to the banner */
.banner-wiejska {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/brutalism.jpg');  background-size: cover;
  background-position: center;
  height: 1800px;
  position: absolute;
  display: flex;
  */
  height: 800px; /* Set the height of the banner */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/wiejska1.png'); /* Add a gradient and a background image to the banner */
  background-size: cover; /* Cover the entire banner with the background image */
  background-position: center; /* Center the background image */
}

/* Add some parallax effect to the banner */
.banner-wiejska {
  background-attachment: fixed; /* Fix the background image to the viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: cover; /* Cover the entire banner with the background image */
}
/* Add some style to the banner */
.banner-zrazy {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/brutalism.jpg');  background-size: cover;
  background-position: center;
  height: 1800px;
  position: absolute;
  display: flex;
  */
  height: 800px; /* Set the height of the banner */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/zrazy1.png'); /* Add a gradient and a background image to the banner */
  background-size: cover; /* Cover the entire banner with the background image */
  background-position: center; /* Center the background image */
}

/* Add some parallax effect to the banner */
.banner-zrazy {
  background-attachment: fixed; /* Fix the background image to the viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: cover; /* Cover the entire banner with the background image */
}
/* Add some style to the banner */
.banner-zupaborowikowa {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/brutalism.jpg');  background-size: cover;
  background-position: center;
  height: 1800px;
  position: absolute;
  display: flex;
  */
  height: 800px; /* Set the height of the banner */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/zupaborowikowa1.png'); /* Add a gradient and a background image to the banner */
  background-size: cover; /* Cover the entire banner with the background image */
  background-position: center; /* Center the background image */
}

/* Add some parallax effect to the banner */
.banner-zupaborowikowa {
  background-attachment: fixed; /* Fix the background image to the viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: cover; /* Cover the entire banner with the background image */
}
/* Add some style to the banner */
.banner-zurek {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/brutalism.jpg');  background-size: cover;
  background-position: center;
  height: 1800px;
  position: absolute;
  display: flex;
  */
  height: 800px; /* Set the height of the banner */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/zurek1.png'); /* Add a gradient and a background image to the banner */
  background-size: cover; /* Cover the entire banner with the background image */
  background-position: center; /* Center the background image */
}

/* Add some parallax effect to the banner */
.banner-zurek {
  background-attachment: fixed; /* Fix the background image to the viewport */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-size: cover; /* Cover the entire banner with the background image */
}
:root {
  --color: rgb(46 46 46);
}

body {
  margin: 0;
}

.parallax-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /*  this is where the magic happens:  */
  background-attachment: fixed;

  background-image: url(images/brutalism.jpg);
  background-position: center;
  background-size: cover;
  color: var(--color);
  row-gap: 4rem;

  text-align: center;
}

.buffer {
  width: 100%;
  min-height: 60vh;
  background-color: var(--color);
}

.parallax-container2 {
  flex-direction: row;
  flex-wrap: wrap;

  padding: 6rem 0;
  background-image: url(https://images.unsplash.com/photo-1585424536945-26663ea69d52?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80);
  gap: 1.6em;
}

.card {
  display: flex;
  max-width: 320px;
  flex-direction: column;
  align-items: center;

  padding-bottom: 1rem;
  border-radius: 0.5em;

  background-color: white;
  box-shadow: 0 29px 38px -15px rgb(0 0 0 / 43%);
}

.card-img {
  width: 100%;
  height: 200px;
  border-radius: 0.3em;
  background-position: center;
  background-size: cover;
}

.card:nth-of-type(1) .card-img {
  background-image: url(https://images.unsplash.com/photo-1551632811-561732d1e306?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
}

.card:nth-of-type(2) .card-img {
  background-image: url(https://images.unsplash.com/photo-1522163182402-834f871fd851?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1606&q=80);
}

.card:nth-of-type(3) .card-img {
  background-image: url(https://images.unsplash.com/photo-1628746404106-4d3843b231b3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2F2aW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60);
}

.card:nth-of-type(4) .card-img {
  background-image: url(https://images.unsplash.com/photo-1496429862132-5ab36b6ae330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=900&q=80);
}




